---
layout: default
title: 'Теги'
permalink: /tags/
redirects:
- /tag/
---

<article class="post typo white-content wrap-inner">
  <header class="post-header">
    <h1 class="post-header__title">Все теги</h1>
  </header>

  <nav aria-label="Все теги и количество публикаций">
    {%- for tagPage in collections.tagPages -%}
      {%- if tagPage.count > 5 -%}
        <big><a href="/tag/{{ tagPage.slug }}/">{{ tagPage.name }}&nbsp;({{ tagPage.count
            }})</a>{% if forloop.last == false %}&nbsp; {% endif %}</big>
      {%- elsif tagPage.count == 1 -%}
        <small><a href="/tag/{{ tagPage.slug }}/">{{ tagPage.name }}&nbsp;({{ tagPage.count
            }})</a>{% if forloop.last == false %}&nbsp; {% endif %}</small>
      {%- else -%}
        <a href="/tag/{{ tagPage.slug }}/">{{ tagPage.name }}&nbsp;({{ tagPage.count
      }})</a>{% if forloop.last == false %}&nbsp; {% endif %}
      {%- endif -%}
    {%- endfor -%}
  </nav>
</article>
