---
layout: default
---

<article class="post">
  {% include "posts/post-card.liquid",
    tag: "h1",
    tags: tags,
    date: page.date,
    title: title,
    in-post: true %}

  <heading-anchors position="afterbegin" class="post__content">
    {{ content }}
  </heading-anchors>
</article>

<p>modified (shortcode): {% modified %}</p>

{% assign previousPost = collections.posts | getNextCollectionItem %}
{% assign nextPost = collections.posts | getPreviousCollectionItem %}
{% if previousPost %}Previous Blog Post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
{% if nextPost %}Next Blog Post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}

<hr class="post__divider-after / divider">
{% assign relatedPosts = collections.posts | relatedPosts: page, tags %}
{% if relatedPosts.size > 0 %}
  <aside class="similar-articles" aria-label="Похожие статьи">
    <h{{ content | maxLevelHeading | plus: 1 }}>
      Похожие (по тегам) статьи:
    </h{{ content | maxLevelHeading | plus: 1 }}>
    <ul>
      {% for post in relatedPosts %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title | default: post.fileSlug }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}

{% css %}
  {% include "styles/post.css" %}
{% endcss %}

{% html "head" %}
  <script type="module" src="/assets/js/heading-anchors.js"></script>
{% endhtml %}
