---
layout: default
---

<article class="post">
  {% include "posts/post-card.liquid",
    tag: "h1",
    tags: tags,
    date: page.date,
    title: title,
    in-post: true %}

  <heading-anchors position="afterbegin" class="post__content">
    {{ content }}
  </heading-anchors>
</article>

<p>modified (shortcode): {% modified %}</p>

<hr class="post__divider-after / divider">
{% assign relatedPosts = collections.posts | relatedPosts: page, tags %}
{% if relatedPosts.size > 0 %}
  <aside class="similar-articles" aria-label="Похожие статьи">
    <h{{ content | maxLevelHeading | plus: 1 }}>
      Похожие (по тегам) статьи:
    </h{{ content | maxLevelHeading | plus: 1 }}>
    <ul>
      {% for post in relatedPosts %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title | default: post.fileSlug }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}

{% css %}
.post__content > :last-child { margin-bottom: 0 }
.post__divider-after { color: var(--secondary-text-color); margin: 3rem 0; }
{% endcss %}

{% html "head" %}
<script type="module" src="/assets/js/heading-anchors.js"></script>
{% endhtml %}
